body {
    font-family: Arial, sans-serif;
    background-color: #1e2a47;
    color: #cfd4e0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #162135;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;

  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0px
  }
  
  .score {
    font-size: 64px;
    font-weight: bold;
    color: #ff5c5c;
    background-color: #0d1727;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  button {
    font-size: 18px;
    font-weight: bold;
    background-color: #2d3b55;
    color: #cfd4e0;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #4b5d81;
  }

#newgame{
  margin-top: 20px;
}