body {
    margin: 20px;
}

.avatar{
    width:200px;
}

.card {
    padding: 20px;
    display: flex;
/*
    Thử thách:
    Thêm không gian theo chiều ngang xung quanh các phần tử children của flex.
    Gợi ý: google "justify-content"
    */
    justify-content: space-around;
}


.border-blue {
    border: 1px dotted blue;
}