body {
    color: #202945;
    background-color: #faf9f6;
    padding-top: 0.5em;
}

article {
    width: 90%;
    max-width: 570px;
    margin: 0 auto;
}
/* Thá»­ lowercase, capitalize */
.headline {
    line-height: 1.3;
    text-transform: uppercase;
}

p {
    line-height: 1.5;
}