body {
    margin: 20px;
}

.avatar{
    width:200px;
}

/*
Thử thách:
1. Đặt cho thẻ div một class (đặt tên là "card")
2. Tạo đường viền chấm màu xanh cho class
3. Thêm 20 pixel padding vào tất cả các mặt của thẻ
*/

.card {
    border: 1px dotted blue;
    padding: 20px;
    display: flex;
}